.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  width: 10vmin;
  pointer-events: none;
  object-fit:cover;
  /* border-radius:50%; */
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  img {
    max-width: 100%
  }
  .image {
    flex-basis: 60%
    
  }
  .text {
    font-size: 40px;
    min-width: 40vh;
    padding-left: 10px;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:cursive;
  }
.App-header {
  background-color: #ffffff;
  text-align: center;
  min-height: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(240, 0, 0);
  font-family: "Roboto",Arial,sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
